Django==1.5.1
Mezzanine==1.4.7
PIL==1.1.7
Pillow==2.0.0
bleach==1.2.2
dj-database-url==0.2.1
filebrowser-safe==0.2.27
grappelli-safe==0.2.21
gunicorn==0.17.4
html5lib==0.95
psycopg2==2.5
pytz==2013b
wsgiref==0.1.2
